//common
$c_white: #fff;
$c_red: #f50e0e;
$c_gray_border: #bab9c3;
$c_bg: #f8f9fb;

$c_bg_lilac: #8a98ca;
$c_bg_orange: #f2ac57;
$c_bg_lightred: #e17878;
$c_bg_lighgreen: #b9e5e5;
$c_bg_pink: #ca44a7;

$c_bg_active_border: #6ab8b8;
$c_bg_active: #99d9d9;
$c_bg_nonactive_border: #979797;
$c_bg_nonactive: #d8d8d8;

//font
$c_f_main: #39628d;
$c_f_header: #22242a;
$c_lightgray: #808080;
$c_darkblue: #354069;
